<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Crear  Reunion</h2>
            <button class="close" type="button" data-bs-dismiss = "modal" aria-label="Close">
                <button class="close" type="button" data-bs-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
     <form action="{% url 'Scrum:crear_reunion' pk%}" method="POST">
         {% csrf_token %}
        <div class="modal-body">
            {{ form.as_p }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-outline-primary" type="submit">Confirmar</button>
        </div>
    </form>
       
    </div>
</div>