{% extends "Scrum/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block Historias %}
<li class="nav-item active">
  <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages-2" aria-expanded="true"
    aria-controls="collapsePages">
    <i class="fas fa-fw fa-table"></i>
    <span>Historias de Usuario</span>
  </a>
  <div id="collapsePages-2" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Inicio Historias de Usuario</h6>
      <a class="collapse-item" href="{% url 'Scrum:productbacklog' pk %}">Product Backlog</a>
      <div class="collapse-divider"></div>
    </div>
  </div>
</li>
{% endblock %}

{% block Sprints %}
<li class="nav-item active">
  <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages-3" aria-expanded="true"
    aria-controls="collapsePages-2">
    <i class="fas fa-fw fa-table"></i>
    <span>Sprints</span>
  </a>
  <div id="collapsePages-3" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Inicio Sprints</h6>
      <a class="collapse-item" href="{% url 'Scrum:listar_sprint' pk %}">Sprints</a>
      <div class="collapse-divider"></div>
    </div>
  </div>
</li>
{% endblock %}

<title>Crear Tarea</title>
{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Crear Tarea Sprint</h2>
      <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <form action="{% url 'Scrum:crear_tarea_Sprint' pk %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        {{ form|crispy }}
        
        
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-danger" href="{% url 'Scrum:listar_tareas_sprint' pk %}">Cancelar</a>
        <button class="btn btn-outline-primary" type="submit">Confirmar</button>
      </div>
    </form>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const rolField = document.getElementById("id_Rol");
    const empleadoSelect = document.getElementById("id_Empleado");

    rolField.addEventListener("change", function() {
        const rolId = rolField.value;

        // Limpiar el select de empleados antes de agregar nuevas opciones
        empleadoSelect.innerHTML = '<option value="">Seleccione un empleado</option>';

        // Si no se ha seleccionado un rol, no mostramos empleados
        if (!rolId) {
            return; // Salimos de la función si no hay rol seleccionado
        }

        fetch(`/obtener_empleados_por_rol/${rolId}/`)
            .then(response => response.json())
            .then(data => {
                data.empleados.forEach(function(empleado) {
                    const option = document.createElement("option");
                    option.value = empleado.id;
                    option.textContent = empleado.nombre;
                    empleadoSelect.appendChild(option); // Añadir cada empleado como opción en el select
                });
            })
            .catch(error => console.error('Error:', error));
    });
});
</script>

{% endblock %}
