{% extends "Mensajes/ProductOwner/base2.html" %}

{% load static %}
{% load crispy_forms_tags %}
<title>Enviar mensaje</title>

{% block content %}
<h1>Enviar Mensaje</h1>
<label><b>Nota:</b> Asegurese de que la informacion sea correcta antes de enviar el mensaje.</label>

<h3>Informacion del Mensaje</h3>
{% for p in form2 %}

<strong>Proyecto:</strong> {{ p.Proyecto }}
<br>
<strong>Emisor:</strong> {{ p.Emisor.Usuario }}
<br>
<strong>Descripción:</strong> {{ p.Descripcion }}
<br>
<strong>Fecha:</strong> {{ p.FechaHora }}
<br>
<strong>Sprint:</strong> {{ p.Sprint }}
<br>

    {% empty %}
        <li>Sin registros.</li>

{% endfor %}


{% for archivo in archivos %}

{% if archivo.Archivo %}
<strong>Archivo ({{ forloop.counter }}):</strong> <a href="{% url 'Mensajes:descargar_archivo' archivo.id %}"> {{ archivo.Descripcion }}</a>
<a href="{% url 'Mensajes:borrarArchivoRS'  archivo.id %}" title="Eliminar">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
    </svg>
</a>
<br>
{% else %}
<b>No hay archivos guardados</b>
{% for p in form2 %}
<p> Puede guardar su documento en este apartado <a href="{% url 'Mensajes:guardarArchivoIDRS' p.id %}" class="btn btn-danger btn-sm">+</a></p>
{% endfor %}

{% endif %}

{% empty %}
<br>
<b>No hay archivos en este mensaje</b>
<br>
{% for p in form2 %}
<p> Puede guardar su documento en este apartado <a href="{% url 'Mensajes:guardarArchivoIDRS' p.id %}" class="btn btn-danger btn-sm">+</a></p>
{% endfor %}

<!-- Cierre del ciclo de archivo -->
{% endfor %}
<br>
<br>

<h3>Destinatarios</h3>
{% for p in form3 %}
<strong>Asistente:</strong> {{ p.Usuario.Usuario }}
<br>
    {% empty %}
        <b>Sin asistentes.</b>
{% endfor %}

<form class="form" method="post" action="" style="color: black;">
    {% csrf_token %} 

    <div class=" margin: auto;">

    
    {{ form | crispy }}
    {% if form3 %} <!-- Si hay asistentes, se mostrara este boton, de lo contrario No lo hara-->
    <button type="submit" id="btn-success" class="btn btn-success"> Enviar </button>
    {% endif %}
</div>
</form>

<script>
    // Obtén una referencia al botón
    var boton = document.getElementById('submit');
    
    // Agrega un event listener para el evento 'click'
    boton.addEventListener('click', function() {
        // Muestra un mensaje
        alert('Mensaje enviado con exito!!');
    });
    </script>
    
{% endblock %}