{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <style>
              #amarillo{
                  background-color:yellow;
              }
              #rojo{
                  background-color:rgb(255, 0, 0);
              }
              #verde{
                  background-color:rgb(13, 255, 0);
              }
              #azul{
                  background-color:rgb(194, 238, 255);
              }
              #gris{
                  background-color:rgb(194, 194, 194);
              }
      </style>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>

<div>

  <table border="1">
    
   <tr>
    <td id="gris" align="center">Proyecto</td>
    <td colspan="29" align="center" id="gris">{{ p.Proyecto }} Creacion de una plataforma web</td>
   </tr>
   
   <tr>
    <td id="azul" align="center">Fecha</td>
    <td id="azul" align="center">{{ p.FHCreacion }} 01-02-2023</td>
    <td id="azul"> &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td id="azul"> &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td id="azul"> &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td id="azul"> &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td id="azul"> &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td id="azul"> &nbsp;&nbsp;&nbsp;&nbsp; </td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
   </tr>
   
   <tr>
    <td colspan="30" align="center" style="color: rgb(0, 113, 157);">{{ p.Descripcion }} Ejecucion del sprint </td>
   </tr>
   
   <tr>
    <td id="azul" align="center">País</td>
    <td id="azul" align="center">Mexico</td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
      <td id="azul"></td>
   </tr>
   
   <tr>
    <td align="center">Idioma</td>
    <td align="center">Español</td>
    <td><!-- Vacio --></td>
    <td><!-- Vacio --></td>
    <td><!-- Vacio --></td>
    <td><!-- Vacio --></td>
    <td><!-- Vacio --></td>
    <td><!-- Vacio --></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   </tr>
   

   
   <tbody>
   <tr>
    <td id="azul" align="center"></td>
    <td id="azul" align="center"> </td>

    <td id="azul" align="center"> &nbsp; </td>

    <td id="azul" align="center"></td>
    <td id="azul" align="center"></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul"><!-- Vacio --></td>
    <td id="azul" colspan="22" align="center">Febrero</td>
   </tr>
   </tbody>
   
  
    <tr>
      <!--<th scope="row">Destinatarios</th>-->
      <td>HU</td>
      <td>Nombre</td>
      <td></td>
      <td></td>
      <td></td>
      <td><!-- Vacio --></td>
      <td><!-- Vacio --></td>
      <td> &nbsp; </td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td>27</td>
      <td>28</td>
    </tr>

    <tbody>
    <tr>
        <td id="gris">HU001</td>
        <td id="gris">Nombre de la historia de usuario 001</td>
        <td id="gris">Developer</td>
        <td id="gris">Horas Estimadas</td>
        <td id="gris">Horas Reales</td>
        <td id="gris"><!-- Vacio --></td>
        <td id="gris"><!-- Vacio --></td>
        <td id="gris"> &nbsp; </td>
        <td id="rojo"></td>
        <td id="rojo"></td>
        <td id="rojo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="amarillo"></td>
        <td id="verde"></td>
        <td id="verde"></td>
        <td id="verde"></td>
        <td id="verde"></td>
        <td id="verde"></td>

      </tr>

      <tr>
        <!--<th scope="row">Destinatarios</th>-->
        <td>1</td>
        <td>Tarea 1 de la HU001</td>
        <td>Juan Peréz</td>
        <td>1</td>
        <td>1</td>
        <td><!-- Vacio --></td>
        <td><!-- Vacio --></td>
        <td> &nbsp; </td>
        <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><!-- Vacio --></td>
        <td><!-- Vacio --></td>
        <td> &nbsp; </td>
        <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      </tr>

    </tbody>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><!-- Vacio --></td>
        <td><!-- Vacio --></td>
        <td> &nbsp; </td>
        <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      </tr>

 
 
  </table>
  </div> 

  {% load crispy_forms_tags %}

  </body>
</html>
