{% load static %}
<!DOCTYPE html>


<html>
  <head>
    <style>
      #bg{
                  background-color:yellow;
              }
              #azul{
                  background-color:rgb(194, 238, 255);
              }
              #gris{
                  background-color:rgb(194, 194, 194);
              }
      /* table tr, th, td {
        height: 20px;
        vertical-align: top;
      } */
      .table-row-auto td {
          width: 200px; /* Ancho específico de las celdas */
          word-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
      }
      </style>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>

<div>
  <div class="encabezado">
    <table style="width: 80%;" border="0">
      <tr style="height: 50px;">
          <td style="height: 50px; text-align: left; width: 30%;">
              <img src="{% static 'Scrum/img/TecNM.jpg' %}" alt="Logo 1" class="logo" style="width: 100px; height: 50px; object-fit: cover;">
          </td>
          <td style="height: 20px; text-align: center; width: 30%;">
              <h1 class="titulo" style="font-size: 20px;">Reporte de Reunión de Refinamiento del Product Backlog</h1>
              <!-- <h5>{% now "d-m-Y H:i" %}</h5> -->
          </td>
          
          <td style="text-align: right; width: 40%;">
              <img src="{% static 'Scrum/img/cenidet.png' %}" alt="Logo 2" class="logo" style="width: 100px; height: 50px; object-fit: cover;">
          </td>
      </tr>
  </table>

  </div>
  <table border=".1">
    <!-- for p in form3|slice:":1" -->
    {% for p in form3 %}
   <tr>
    <td id="azul" align="center">Proyecto</td>
    <td colspan="4" align="center" id="azul">{{ p.Proyecto }}</td>
   </tr>
   
   <tr>
    <td align="center">Fecha y hora</td>
    <td  colspan="4" > {{ p.FechaHora }}</td>
   </tr>
 
   <tr>
    <td colspan="5" align="center" style="color: rgb(0, 113, 157);">Reunión de refinamiento del Product Backlog</td>
   </tr>
   {% endfor %}
   <tr>
    <td id="azul" align="center">Idioma</td>
    <td id="azul" align="center">Español</td>
    <td colspan="3" id="azul"> &nbsp; </td>
   </tr>
   <tr>
    <td align="center">País</td>
    <td align="center">Mexico</td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
   </tr>
   <tr>
    <td align="center" id="azul"> &nbsp; </td>
    <td align="center" id="azul"> &nbsp; </td>
    <td id="azul"> &nbsp; </td>
    <td id="azul"> &nbsp; </td>
    <td id="azul"> &nbsp; </td>
   </tr>
   <tr>
    <td id="gris" align="center">Asistentes:</td>
    <td id="gris" align="center">Nombre</td>
    <td id="gris" align="center">Rol</td>
    <td id="gris" align="center">Status</td>
    <td id="gris" align="center">Tipo de Asistencia</td>
   </tr>
   {% for p in form %}
   <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ p.Usuario.Usuario }}</td>
      <td>{{ p.Rol }}</td>
      <td> {{ p.get_Status_display}}
      </td>
      <td>
        {{p.get_TipoAsistencia_display}}
      </td>
    </tr>
  </tbody>
  {% endfor %}
  <!--Espacios en blanco-->
  <tr>
    <td colspan="5" align="center"> &nbsp; </td>
   </tr>
  <tr>
    <td id="gris" align="center">HU</td>
    <td id="gris" align="center">Nombre</td>
    <td colspan="3" id="gris" align="center"> &nbsp; </td>
   </tr>

   {% for p in form2 %}
    <tr class="table-row-auto">
      <td id="azul"> {{ p.NumeroHU}}</td> 
      <td colspan="4" id="azul"> {{ p.nombre | capfirst }} </td>
    </tr>
    <tr>
      <td align="center"> &nbsp; </td>
      <td align="center"> Tiempo estimado: </td>
      <td colspan="3"> {{ p.HorasEstimadas}} hrs </td>
    </tr>
    
    <tr>
      <td  align="center"> &nbsp; </td>
      <td  align="center"> Prioridad: </td>
      <td colspan="3"  > {{p.get_Prioridad_display}} </td>
    </tr>
  
    <tr  class="table-row-auto">
      <td align="center"> &nbsp; </td>
      <td align="center"> Descripción: </td>
      <td colspan="3" style="width: 300px; max-width: 300px; word-wrap: break-word; overflow-wrap: break-word;" > {{ p.descripcion }} </td>
    </tr>
    
    <tr  class="table-row-auto">
      <td  align="center"></td>
      <td  align="center">Criterio de aceptación:</td>
      <td  colspan="3" style="width: 300px; max-width: 300px; word-wrap: break-word; overflow-wrap: break-word;"> {{p.CriteriosAceptacion}}</td>
      </tr>
    <tr>
        <td align="center" colspan="5">&nbsp; </td>
    </tr>
  {% endfor %}

   {% for p in form3 %}
    <tr  class="table-row-auto">
      <td align="center" id="azul"> Objetivo </td>
      <td  id="azul" colspan="4"> {{ p.Descripcion }} </td>
    </tr>
   {% endfor %}
  </table>
  </div> 

  </body>
</html>
