{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      #bg{
          background-color:yellow;
      }
      #azul{
          background-color:rgb(194, 238, 255);
      }
      #gris{
          background-color:rgb(194, 194, 194);
      }
      </style>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>

<div>
  <table border="0.1">
    {% for p in form|slice:":1" %}
   <tr style=" height: 20px; vertical-align: bottom; ">
    <td id="azul" align="center">Proyecto</td>
    <td colspan="7" align="center" id="azul">{{ p.Proyecto }}</td>
   </tr>
   {% endfor %}
   {% for p in form|slice:":1" %}
    <tr style=" height: 20px; vertical-align: bottom; ">
      <td align="center">Fecha</td>
      <td colspan="7"> &nbsp;{{ p.FHCreacion }} </td>
    </tr>
   {% endfor %}
   {% for p in form|slice:":1" %}
    <tr style=" height: 20px; vertical-align: bottom; ">
      <td colspan="8" align="center" style="color: rgb(0, 113, 157);">Retroalimentación de la Planeación del {{ p.Mensaje.Sprint }}</td>
    </tr>
   {% endfor %}
   {% for p in form|slice:":1" %}
   <tr style=" height: 20px; vertical-align: bottom; ">
    <td id="azul" align="center">Idioma</td>
    <td colspan="7" id="azul" > &nbsp;{{ p.Emisor.Idioma }}</td>
   </tr>
   {% endfor %}
   {% for p in form|slice:":1" %}
   <tr style=" height: 20px; vertical-align: bottom; "  >
    <td align="center">País</td>
    <td colspan="7">&nbsp;{{ p.Emisor.Pais }}</td>
   </tr>
   {% endfor %}

   {% for p in form|slice:":1" %}
   <tbody>
   <tr style=" height: 20px; vertical-align: bottom; ">
    <td id="azul" align="center">Emisor</td>
    <td id="azul" >&nbsp;{{ p.Emisor.Usuario }} </td>
    <td id="azul" >&nbsp;{{ p.Emisor.Roles.NombreRol }} </td>
    <td colspan="5" id="azul" ></td>
   </tr>
   </tbody>
   {% endfor %}
  
    <tr style=" height: 20px; vertical-align: bottom; " id="gris" >
      <!--<th scope="row">Destinatarios</th>-->
      <td >Destinatario</td>
      <td align="center">Nombre</td>
      <td >Rol</td>     
      <td colspan="5"></td>
    </tr>

  {% for p in form %}
  <tbody>
  <tr style=" height: 20px; vertical-align: bottom; ">
    <td align="center"></td>
    <td  >&nbsp; {{ p.Receptor.Usuario }}</td>
    <td >&nbsp; {{ p.Receptor.Roles.NombreRol }}</td>
    <td colspan="5" align="center"></td>
   </tr>
  </tbody>
  {% endfor %}
   
   <tbody>
    <tr>
      <td colspan="8"></td>
    </tr>
  </tbody>
  
  {% for p in form|slice:":1"  %}
    <tr>
      <td align="center" id="azul">Retroalimentación</td>
      <td colspan="7"  id="azul">&nbsp;{{ p.Descripcion }}</td>
    </tr>
    <tr>
      <td align="center" >Contestación</td>
      <td colspan="7" >&nbsp;{{ p.Contestacion }}</td>
    </tr>
   {% endfor %}
  </table>
  </div> 
  {% load crispy_forms_tags %}

  </body>
</html>
