{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        #bg {
            background-color: yellow;
        }

        #azul {
            background-color: rgb(194, 238, 255);
        }

        #gris {
            background-color: rgb(196, 196, 196);
        }
        table tr, th, td {
          /* height: 20px; */
          vertical-align: bottom;
      }
      .table-row-auto td {
          width: 200px; /* Ancho específico de las celdas */
          word-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <div class="encabezado">
        <table style="width: 100%;" border="0">
            <tr style="height: 50px;">
                <td style="height: 50px; text-align: left; width: 30%;">
                    <!-- <img src="{{ request.build_absolute_uri }}{% static 'Scrum/img/TecNM.jpg' %}" alt="Logo 1" class="logo"> -->
                    <img src="static/Scrum/img/TecNM.jpg" alt="Logo 1" class="logo">
                </td>
                <td style="text-align: center; width: 30%;">
                    <h1 class="titulo">Reunión de Retrospectiva del Sprint</h1>
                    <h3>{% now "d-m-Y H:i" %}</h3>
                </td>
                <td style="text-align: right; width: 40%;">
                    <img src="{{ request.build_absolute_uri }}{% static 'Scrum/img/cenidet.png' %}" alt="Logo 2" class="logo">
                </td>
            </tr>
        </table>
      </div>
    <div>
        <table class="table" border="0.1">

                <tr>
                    <td id="gris">Proyecto</td>
                    <td colspan="4" align="center" id="gris">{{ form.Proyecto }}</td>
                </tr>
                <tr>
                    <td colspan="5" align="center" style="color: rgb(0, 113, 157);"> Reunión de Restrospectiva del {{ form.Sprint }}</td>
                </tr>
                <tr>
                    <td id="azul">Fecha y hora reunión</td>
                    <td colspan="4" id="azul">  &nbsp {{ form.FechaHora }}</td>
                </tr>

            {% for p in idiomaPais %}
            <tr>
                <td>Pais</td>
                <td colspan="4">  &nbsp {{ p.Pais }}</td>
            </tr>
            <tr>
                <td id="azul">Idioma</td>
                <td colspan="4"  id="azul">  &nbsp {{ p.Idioma }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"> &nbsp; </td>
            </tr>
            <tr>
                <td id="gris" align="center">Asistentes:</td>
                <td id="gris" align="center">Nombre</td>
                <td id="gris" align="center"> Rol </td>
                <td id="gris" align="center"> Status </td>
                <td id="gris" align="center"> Tipo Asistencia </td>
            </tr>
            {% for p in form3 %}
            <tr>
                <th> &nbsp; </th>
                <td>{{ p.Usuario.Usuario }}</td>
                <td>{{ p.Rol }}</td>
                <td>
                    {{  p.get_Status_display  }}
                </td>
                <td>
                    {{p.get_TipoAsistencia_display}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5" align="center"> &nbsp; </td>
            </tr>
            <tr id="azul">
                <td>Objetivo:</td>
                <td colspan="4">{{ form.Descripcion }}</td>
            </tr>
            {% for p in comentarios %}
            <tr>
                <td >Reflexiones/Comentarios ({{ p.Emisor.Usuario }}):</td>
                <td colspan="4">{{ p.Comentarios }}</td>
            </tr>
            <tr>
                <td id="gris">Oportunidades de mejora ({{ p.Emisor.Usuario }}):</td>
                <td colspan="4" id="gris">{{ p.OportunidadesMejora }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

</body>

</html>