{% extends "Mensajes/ProductOwner/base2.html" %}

{% load static %}
{% load crispy_forms_tags %}
<title>Product Owner</title>

{% block content %}
<h1 align="center">Sprints disponibles</h1>

{% if form %}

<div class="table-stats order-table ov-h">
    <div class="table table-striped table-bordered">
      <div>
        <table class="table ">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Sprint</th>
                <th scope="col">Objetivo</th>
                <th scope="col">Status</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            
            {% for p in form %}
            
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ p.Proyecto }}</td>

                <td>{{ p.nombresprint }}</td>
                
                <td>{{ p.objetivosprint }}</td>
                <td>{{ p.Estatus }}</td>
                <td>
                    <a class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Crear" href="{% url 'Mensajes:crearRetrospectivaSprint' p.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                            </svg>
                          </a>


                </td>
              </tr>
            </tbody>
            {% endfor %}
            
          </table>
          
</div>
</div>

          {% else %}
          <h1>Sin registros</h1>  

{% endif %}


<script language="JavaScript">
  function aviso(url){
  if (!confirm("ALERTA!! va a proceder a eliminar este registro, si desea eliminarlo de click en ACEPTAR, de lo contrario de click en CANCELAR.")) {
  return false;
  }
  else {
  document.location = url;
  return true;
  }
  }
  </script>

</div>

{% endblock %}